<html>
	<head>
		<title>basic html</title>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.min.js">
		</script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
		<script type="text/javascript" src="{{ STATIC_URL }}main.js"></script>
		
	</head>
	<body>
		<div id='header'>
			<p>Gabriel Enrique Barrios Dominguez - 07120734</p>			
		</div>
		<div id='content'>
			<div id='div_1'><h3>Maritza Gaspar<h3><h4>tweet: hola</h4><h4>create_at: 11/11/11</h4><p id='p_1'>X</p></div>
			<br/>
			<div id='div_2'><h3>Omar Paniagua<h3><h4>tweet: como estas</h4><h4>create_at: 12/12/11</h4><p id='p_2'>X</p></div>
			<br/>			
			<div id='div_3'><h3>Mariana Diaz<h3><h4>tweet: bien</h4><h4>create_at: 02/01/12</h4><p id='p_3'>X</p></div>
			
		</div>
		<div id='footer'>
			<h1>9 de marzo de 2012</h1>			
		</div>
	</body>
</html>
